html,body,.g-body {
    width: 100%;
    height: 100%;
}
.g-body {
    position: relative;
    background: url("/static/images/background/login/loginbackground.jpg") 0 0  no-repeat;
}

.g-login {
    max-width: 440px;
    max-height: 440px;
    /*border: 1px solid #eee;*/
    background-color:#fff;
    /*filter:Alpha(opacity=60);*/
    /*-moz-opacity: .6;*/
    /*opacity:.6;*/
    /**zoom:1;*/
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.m-login-header {
    padding: 12px 8px 0;
    color: #000;
}

.m-login-header .u-title {
    padding: 5px 8px;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
}

.m-login-header .u-subtitle {
    padding: 4px 8px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
}


.m-login-body {
    padding: 0 20px;
}

.m-login-body .u-sign-row {
    padding: 5px 0;
}

.m-login-body input {
    height: 38px;
    padding: 0 5px;
    font-size: 16px;
    color: #000;
    border: 0;
    outline: none;
    border-bottom: 1px solid #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}



.m-login-body .u-account input,
.m-login-body .u--password input {
    width: 100%;
}

.m-login-body .u-verifyCode {
}

.m-login-body .u-verifyCode input {
    float: left;
    width: 200px;
}

.m-login-body .u-verifyCode-img {
    float: right;
    height: 38px;
    width: 100px;
    cursor: pointer;
}

.m-login-body .u-verifyCode-img img {
    width: 100%;
    height: 100%;
}

.m-login-body .u-memberpass {
    position: relative;
    line-height: 38px;
    color: #000;
    vertical-align:middle;
    padding: 5px 10px;
}

.m-login-body .u-memberpass input {
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
}

.m-login-body .u-memberpass label {
    position: absolute;
    left: 20px;
    display: inline-block;
    padding-left: 5px;
    cursor: pointer;
}

.m-login-body .u-memberpass a {
    position: absolute;
    right: 5px;
    display: inline-block;
    color: #000;
    text-decoration: none;
	cursor: pointer;
}

.m-login-body .u-login-options {
    padding: 5px 10px;
    margin-top: 15px;
}

.m-login-body .u-login-options .u-login-confirm {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    cursor: pointer;
}

.m-login-body .u-login-options .u-login-confirm:hover {
    background: #73d13d;
}
.m-login-body .u-login-options .u-login-confirm:active {
    background: #b5f5ec;
}

.m-login-body .u-login-options .u-login-confirm span {
    display: inline-block;
    width: 36px;
}

.m-login-body .u-login-options .u-login-confirm {
    background: #1890ff;
    font-size: 26px;
    color: #fff;
}

.m-login-body .u-errorInfo {
    display: none;
}

.m-login-body .u-errorInfo.active {
    display: block;
    color: red;
}

.m-login-footer {
    padding: 10px 25px

}